@import './global.scss';

.fab-button-so-far {
  position: fixed;
  bottom: 20px;
  margin-bottom: 20px;
  left: 20px;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  padding: 1rem;
  font: inherit;
  cursor: pointer;
  box-shadow: .25rem 0.25rem 0.25rem 0.25rem grey;
  justify-content: center;
  z-index: var(--layer-1);
}

.fab-button-so-far-notifications {
  position: fixed;
  bottom: 10px;
  margin-bottom: 80px;
  left: 50px;
  align-items: center;
  border: none;
  border-radius: 50%;
  display: flex;
  padding: 0.55rem; 
  font: inherit;
  cursor: pointer;
  color: black;
  font-weight: 700;
  justify-content: center;
  z-index: var(--layer-1);
}

.visited-movies-container {
  position: fixed;
  bottom: 20px;
  border-radius: 1rem;
  max-height: 400px;
  margin-bottom: 85px;
  left: 20px;
  background-color: black;
  padding: 0.55rem; 
  font: inherit;
  cursor: pointer;
  color: white;
  overflow-y: auto;
  justify-content: center;
  z-index: var(--layer-1);
}
