@import '../../../global.scss';

.color-questions-button {
    border-radius: 50%;
    color: rgb(170, 181, 187);
    padding: 2rem;
    border: 8px solid #efefef;

    &:hover {
        transform: scale(1.5);
        transition: transform 200ms;
        box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    }
}

.coloured-buttons-style {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.car-hover {
    &:hover {
        transform: scale(1.15);
        transition: transform 200ms;
    }
}

.options-listing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 519px) {
    .options-listing {
        max-width: 200px;
    }
}
