@import '../../global.scss';

.flex-top {
    display: flex;
    justify-content: space-between;
    background-color: #EFEFEF;
    padding: 1rem;
    border-radius: 1rem;
}

.modal {
    color: black;
}
