@import '../../global.scss';

.modal {
    color: white;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding: 2rem 0.5rem;
    background-color: $white;
    color: $dark;
    
    .flex-top {
        display: flex;
        justify-content: flex-end;
        border-radius: 1rem;
        margin: 0.5rem 0;
    }

    .modal-button {
        align-items: center;
        background-color: #f72798;
        border-radius: 50%;
        border: 1px solid #f72798;
        display: flex;
        height: 1rem;
        justify-content: center;
        margin: 0 0.5rem;
        padding: 1rem;
        width: 1rem;
        
        &:hover {
            background-color: #FF9BD2;
            border: 1px solid #FF9BD2;
        }
    }

    .modal-layout {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}
