@import '../../global.scss';

.modal {
    color: white;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding: 2rem 0.5rem;
    background-color: $white;
    color: $dark;

    .img-poster {
        width: 50%;
    }
    
    .flex-top {
        display: flex;
        justify-content: flex-end;
        border-radius: 1rem;
        width: 50%;
        margin: 0.5rem 0;
    }

    .film-title {
        font-size: 24px;
        font-weight: 900;
        width: 70%;
    }

    .themes {
        margin-top: 1rem;
        color: grey;
        font-size: 16px;
    }

    .overview {
        font-size: 12px;
        margin-top: 1rem;
    }

    .star-logo {
        width: 25px;
    }

    .modal-button {
        align-items: center;
        background-color: white;
        border-radius: 50%;
        border: 1px solid grey;
        color: black;
        display: flex;
        height: 1rem;
        justify-content: center;
        margin: 0 0.5rem;
        padding: 1rem;
        width: 1rem;
        
        &:hover {
            background-color: grey;
            border: 1px solid grey;
        }
    }

    .modal-layout {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 820px) {
        .star-logo {
            width: 15px;
        }

        .img-poster {
            width: 100%;
        }

        .flex-top {
            width: 100%;
        }
    }
}
