@import "../../global.scss";

.footer-background {
    align-items: center;
    background-color: #efefef;
    border-radius: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-content: center;
    padding: .5rem;
    margin: 10px 10px;

    .text {
        text-align: center;
        margin-bottom: 0.5rem;
        font-size: 16px;
    }

    .button-cluster {
        align-items: center;
        display: flex;
        gap: .25rem;
    }
    
    &:hover {
        background-color: rgb(39, 58, 66);
    }
}
