@import '../../global.scss';

.color-question-background {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;

    h2 {
        margin: 0;
    }

    &:hover {
        padding: 4rem;
    }
}

.color-questions-button {
    border-radius: 50%;
    color: rgb(170, 181, 187);
    padding: 2rem;
    border: 8px solid #efefef;

    &:hover {
        transform: scale(1.5);
        transition: transform 200ms;
        box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    }
}

.coloured-buttons-style {
    display: flex;
    gap: 1.5rem;
    // Disabled for mobile View
    // margin: 1rem 0 0.5rem 1rem;
    flex-wrap: wrap;
}


.cars-question-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
        margin: 0;
    }

    .car-buttons-layout {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .retroCar {
        &:hover {
            transform: scale(1.15);
            transition: transform 200ms;
        }
    }
}
