@import './../../global.scss';

.card-body {
    background-color: white;
    border-radius: 1rem;
    color: black;
    font-size: 14px;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    margin: 0.5rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    .card-main-img {
        width: inherit;
        height: 274px;
        border-radius: 0.25rem 0;
        object-fit: cover;
    }

    .movie-title {
        font-size: 14px;
        font-weight: 400;
        width: 225px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .flex {
        display: flex;
        gap: .5rem;
        margin: 1rem;

        &:hover {
            transform: scale(1.15);
            transition: transform 200ms;
        }
    }

    .card-footer {
        display: flex;
        gap: 0.5rem;
        margin: 10px;
    }

    .centre-icons {
        display: flex;
        justify-content: center;
    }
}
