@import '../../global.scss';

.back-button {
    background-color: grey;
    color: black;
    padding: .5rem 1rem;

    &:hover {
        background-color: black;
        color: grey;
    }
}

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
}
