@import '../../global.scss';

.back-button {
    background-color: grey;
    color: black;
    padding: .5rem 1rem;
    border-radius: 1rem;

    &:hover {
        font-weight: bolder;
    }
}

.loader-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%; 
}

.layout {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.fab-button {
    position: fixed;
    bottom: 20px;
    margin-bottom: 20px;
    right: 20px;
    align-items: center;
    border: none;
    border-radius: 50%;
    display: flex;
    padding: 1rem;
    font: inherit;
    cursor: pointer;
    justify-content: center;
    z-index: var(--layer-1);
}

.no-results-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    width: 100%;

    .header-spacing {
        margin: 0 0 0.8rem 0;
    }

    .back-button {
        margin: 1.5rem 0 0 0;
    }

    .content {
        padding: 2rem;
    }
}
