.App {
  background-color: #000;

  .movies-listing-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
  }

  .title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
    color: rgb(245, 197, 24);
  }
}
