.App {
  background-color: #000;
}

.centre {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

 
.title {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: rgb(245, 197, 24);
}
