.button-no-native-style {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    user-select: none;
}

.gl-icon-rotate {
    width: 20px;

    &:hover {
        transition-delay: 450ms;
        transition-duration: 250ms;
        transform: rotate(360deg);
    }
}

.gl-round {
    border-radius: 50%;
}

.gl-horizontally-centre {
    display: flex;
    justify-content: center;
}

.movie-card-hover-effect {
    &:hover {
        .card-main-img {
            height: 325px;
        }

        .gl-icon-rotate {
            transition-delay: 450ms;
            transition-duration: 250ms;
            transform: rotate(360deg);
        }

        height: 500px;
        width: 225px;
        transition: max-height 4s ease-in;
    }
}
